VITE_FIREBASE_API_KEY=yAIzaSyBlneaJMmvm6kaKsWyeS-jtBTuTfZfG5lk
VITE_FIREBASE_AUTH_DOMAIN=kehila-manhigut-shava.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kehila-manhigut-shava
VITE_FIREBASE_STORAGE_BUCKET=kehila-manhigut-shava.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=20237116315
VITE_FIREBASE_APP_ID=1:20237116315:web:e52de8b8b35fe394ec773e
